* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.emoji {
  font-size: 10rem;
  text-align: center;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option input,
.option button {
  font-weight: 500;
  margin: 8px auto;
}

.option input {
  width: 90%;
  line-height: 1.5rem;
  border: 1px solid green;
}

.option input.dirty {
  border: 1px solid pink;
}

input:focus {
  outline-offset: 0;
  outline: none;
}

.option button {
  cursor: pointer;
  height: 21px;
}

.github {
  text-decoration: none;
  font-size: 0.7rem;
  position: fixed;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 222px) {
  .option input {
    width: 200px;
  }
}

@media (min-width: 400px) {
  .option input {
    width: 50%;
    min-width: 200px;
  }
}
